<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
# You code here 
print(data.shape,"\n")
print(data.columns,"\n\n")
print(data.info())

(271116, 15)

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 -> Correct
- 16 and 12
- 13 and 11

In [5]:
(data[data['Year'] == 1996]).sort_values(by=['Age','Sex'],ascending=[True, False])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
93850,47506,Hem Reaksmey,F,12.0,175.0,65.0,Cambodia,CAM,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
33105,17045,Byeon Hye-Yeong,F,13.0,166.0,61.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
33106,17045,Byeon Hye-Yeong,F,13.0,166.0,61.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
78869,40035,Mira Ghniem,F,13.0,NaN,NaN,Jordan,JOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Individual Medley,NaN
79033,40133,Cerian Gibbes,F,13.0,NaN,NaN,Trinidad and Tobago,TTO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
79034,40133,Cerian Gibbes,F,13.0,NaN,NaN,Trinidad and Tobago,TTO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
170652,85771,Nian Yun,F,13.0,168.0,61.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Silver
170653,85771,Nian Yun,F,13.0,168.0,61.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay,NaN
172477,86657,No Ju-Hui,F,13.0,172.0,55.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
87416,44326,Gwon Gyeong-Min,M,14.0,165.0,60.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
8480,4670,Ayari Aoyama,F,14.0,152.0,42.0,Japan,JPN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Butterfly,NaN
8481,4670,Ayari Aoyama,F,14.0,152.0,42.0,Japan,JPN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
16847,9034,Amanda Ray Beard (-Brown),F,14.0,173.0,59.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,Silver
16848,9034,Amanda Ray Beard (-Brown),F,14.0,173.0,59.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,Silver
16849,9034,Amanda Ray Beard (-Brown),F,14.0,173.0,59.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Gold
21257,11223,Bi Wenjing,F,14.0,142.0,35.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Individual All-Around,NaN
21258,11223,Bi Wenjing,F,14.0,142.0,35.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Team All-Around,NaN
21259,11223,Bi Wenjing,F,14.0,142.0,35.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Horse Vault,NaN
21260,11223,Bi Wenjing,F,14.0,142.0,35.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Uneven Bars,Silver
21261,11223,Bi Wenjing,F,14.0,142.0,35.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Balance Beam,NaN
86683,43965,Guo Jingjing,F,14.0,163.0,49.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Diving,Diving Women's Platform,NaN
89770,45493,Han Xue,F,14.0,177.0,68.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
89771,45493,Han Xue,F,14.0,177.0,68.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze
107945,54572,Jeong On-Ra,F,14.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 400 metres Freestyle,NaN
107946,54572,Jeong On-Ra,F,14.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,NaN
107947,54572,Jeong On-Ra,F,14.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay,NaN
108315,54747,Ji Liya,F,14.0,148.0,38.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Individual All-Around,NaN
108316,54747,Ji Liya,F,14.0,148.0,38.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Team All-Around,NaN
108317,54747,Ji Liya,F,14.0,148.0,38.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Floor Exercise,NaN
108318,54747,Ji Liya,F,14.0,148.0,38.0,China,CHN,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Horse Vault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179178,90027,Margit Otto-Crpin,F,51.0,166.0,52.0,France,FRA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
23393,12307,Herbert Blcker,M,53.0,173.0,68.0,Germany,GER,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",NaN
68151,34817,Grard Fernandez,M,53.0,162.0,69.0,France,FRA,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Air Pistol, 10 metres",NaN
68152,34817,Grard Fernandez,M,53.0,162.0,69.0,France,FRA,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Free Pistol, 50 metres",NaN
197501,99155,Hubert Raudaschl,M,53.0,187.0,82.0,Austria,AUT,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Two Person Keelboat,NaN
220572,110778,Hugo Simon,M,53.0,162.0,65.0,Austria,AUT,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN
220573,110778,Hugo Simon,M,53.0,162.0,65.0,Austria,AUT,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
202760,101843,Ralph Rodrguez Beauchamp,M,54.0,178.0,66.0,Puerto Rico,PUR,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN
263058,131631,Gyrgy Wossala,M,54.0,180.0,104.0,Hungary,HUN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
66457,33993,Daria Camilla Fantoni,F,54.0,173.0,61.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
66458,33993,Daria Camilla Fantoni,F,54.0,173.0,61.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
13395,7272,"Nikolaus ""Klaus"" Balkenhol",M,56.0,178.0,83.0,Germany,GER,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
13396,7272,"Nikolaus ""Klaus"" Balkenhol",M,56.0,178.0,83.0,Germany,GER,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",Gold
88527,44891,Ulla Margareta Mileva Hkansson (Svenfelt-),F,58.0,170.0,55.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
88528,44891,Ulla Margareta Mileva Hkansson (Svenfelt-),F,58.0,170.0,55.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
156999,78863,Bruce Meredith,M,59.0,188.0,82.0,United States Virgin Islands,ISV,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN
222024,111582,Karl Ragnar Skanker (Eriksson-),M,62.0,183.0,83.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Air Pistol, 10 metres",NaN
222025,111582,Karl Ragnar Skanker (Eriksson-),M,62.0,183.0,83.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Shooting,"Shooting Men's Free Pistol, 50 metres",NaN
9788,5360,Jos Antonio Artecona Artze,M,63.0,175.0,87.0,Puerto Rico,PUR,1996 Summer,1996,Summer,Atlanta,Shooting,Shooting Men's Trap,NaN
9789,5360,Jos Antonio Artecona Artze,M,63.0,175.0,87.0,Puerto Rico,PUR,1996 Summer,1996,Summer,Atlanta,Shooting,Shooting Men's Double Trap,NaN
193987,97377,Fausto Maria Puccini,M,63.0,169.0,67.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
193988,97377,Fausto Maria Puccini,M,63.0,169.0,67.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
27170,14130,Grayson Hugh Bourne,M,NaN,NaN,NaN,Great Britain,GBR,1996 Summer,1996,Summer,Atlanta,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",NaN
119298,60395,Boureima Kimba,M,NaN,NaN,NaN,Niger,NIG,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 100 metres,NaN
148866,74668,Abdou Manzo,M,NaN,NaN,NaN,Niger,NIG,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's Marathon,NaN
181426,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Freestyle,NaN
181427,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Backstroke,NaN
181428,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Backstroke,NaN
162717,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Singles,NaN
162718,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Doubles,NaN

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 -> Correct
- 2.5
- 7.7

In [ ]:
grouped = data.groupby(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
index = [gp_keys[0] for gp_keys in grouped.groups.values()]
unique_df = data.reindex(index)
unique_df.count()

In [6]:
def find_unique(df):
    df_grouped = df.groupby(['ID'])
    index = [gp_keys[0] for gp_keys in df_grouped.groups.values()]
    unique_data = df.reindex(index)
    return unique_data

In [11]:
total_male = (data.loc[(data['Year'] == 2000) & (data['Sex'] == 'M')])
total_male_gymnast = (data.loc[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')])

unique_total_male = find_unique(total_male)
unique_total_male_gymnast = find_unique(total_male_gymnast)

total_male_cnt = total_male['ID'].count()
total_male_gymnast_cnt = total_male_gymnast['ID'].count()

unique_total_male_cnt = unique_total_male['ID'].count()
unique_total_male_gymnast_cnt = unique_total_male_gymnast['ID'].count()


print( total_male_gymnast_cnt / total_male_cnt )
print( unique_total_male_gymnast_cnt / unique_total_male_cnt )

0.07651966626936829
0.014743882048943608

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1 -> Correct

In [17]:
# You code here 
#data['Sport'].unique()
data_org = data.loc[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]
data_unique =  find_unique(data_org)

print(data_org['Height'].mean())
print(data_unique['Height'].mean())

print(data_org['Height'].std())
print(data_unique['Height'].std())

182.38732394366198
182.38732394366198
9.139462087892174
9.139462087892174

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh -> Correct 
- Weightlifting
- Boxing

In [19]:
# You code here 
person = data.loc[(data['Year'] == 2002)].sort_values(by=['Weight'],
        ascending=[False])
print(person.head())

            ID               Name Sex   Age  Height  Weight  \
99154    50171  Emmanuel Hostache   M  26.0   190.0   123.0
129595   65246        Kevin Kuske   M  23.0   196.0   116.0
270556  135315      Zsolt Zsombor   M  30.0   193.0   115.0
60488    30980        Dalibor uri   M  26.0   196.0   113.0
128125   64528       Pavel Kubina   M  24.0   196.0   113.0

                         Team  NOC        Games  Year  Season            City  \
99154                  France  FRA  2002 Winter  2002  Winter  Salt Lake City
129595              Germany-2  GER  2002 Winter  2002  Winter  Salt Lake City
270556                Hungary  HUN  2002 Winter  2002  Winter  Salt Lake City
60488   Serbia and Montenegro  SCG  2002 Winter  2002  Winter  Salt Lake City
128125         Czech Republic  CZE  2002 Winter  2002  Winter  Salt Lake City

             Sport                        Event Medal
99154    Bobsleigh          Bobsleigh Men's Two   NaN
129595   Bobsleigh         Bobsleigh Men's Four  Gold
270556   Bobsleigh         Bobsleigh Men's Four   NaN
60488    Bobsleigh         Bobsleigh Men's Four   NaN
128125  Ice Hockey  Ice Hockey Men's Ice Hockey   NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3 -> Correct

In [34]:
# You code here 

(data[data['Name'] == 'Pawe Abratkiewicz'])['Year']

997     1992
998     1992
999     1998
1000    1998
1001    2002
1002    2002
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 -> Correct
- 3

In [27]:
# You code here 
data.loc[(data['Year'] == 2000) & (data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes -> Correct
- No

In [65]:
# You code here 
#medals_swiz = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Switzerland')]['Medal'].dropna().count()
#medals_serb = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Serbia')]['Medal'].dropna().count()

medals_swiz = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Switzerland')]
medals_serb = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Serbia')]


medals_swiz_uniq = find_unique(medals_swiz)['Medal'].dropna().count()
medals_serb_uniq = find_unique(medals_serb)['Medal'].dropna().count()

print(medals_swiz_uniq)
print(medals_serb_uniq)

87541       Gold
96184     Silver
171349      Gold
214624      Gold
214640      Gold
226623    Silver
242890      Gold
Name: Medal, dtype: object
4417        Gold
22125     Silver
24291     Silver
24293     Silver
26421     Silver
28128     Silver
32655     Silver
32993     Bronze
37364     Bronze
46628     Bronze
47046       Gold
48048     Bronze
48051     Bronze
69320       Gold
80619       Gold
105631      Gold
109857    Silver
110799    Bronze
110813    Silver
112292    Silver
127338    Bronze
145761    Silver
147525    Silver
148153      Gold
149953    Silver
158496    Silver
159475    Bronze
160387      Gold
160390      Gold
169148    Silver
171522      Gold
171690    Silver
175460    Silver
180171    Bronze
187358    Bronze
188763      Gold
188765      Gold
191637    Silver
193402      Gold
195573    Bronze
195659    Silver
197025      Gold
197152    Silver
220684    Silver
226165    Bronze
227590    Bronze
228242      Gold
229162    Silver
229531    Silver
237648    Silver
241429    Silver
251194    Silver
270111    Silver
270370    Silver
Name: Medal, dtype: object

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly -> Correct
- [45-55] and [15-25) correspondingly 
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [47]:
# You code here 
age_data = data.loc[(data['Year'] == 2014)]
age_data_unique = find_unique(age_data)
age_data.describe()
age_data_unique.describe()

print(age_data_unique[age_data_unique['Age'].apply(lambda age: age >= 25 and age < 35)]['ID'].count())
print(age_data_unique[age_data_unique['Age'].apply(lambda age: age >= 45 and age < 55)]['ID'].count())
print(age_data_unique[age_data_unique['Age'].apply(lambda age: age >= 25 and age < 35)]['ID'].count())
print(age_data_unique[age_data_unique['Age'].apply(lambda age: age >= 35 and age < 45)]['ID'].count())

1397
4
1397
150

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes -> Correct
- No, No

In [52]:
# You code here 
data.loc[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34 -> Correct

In [64]:
# You code here 

len(data.loc[(data['Year'] == 2016)]['Sport'].unique())

df = find_unique(data.loc[(data['Year'] == 2016)])
len(df['Sport'].unique())

34